.selectPlanCard{
    border: 1px solid hsl(231, 11%, 63%);
    width: 25%;
    padding: 2.5%;
    border-radius: 15px;
    height: 110px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.selectPlanCard:hover{
    border: 1px solid hsl(243, 100%, 62%);
}
.selectPlanCard:active{
    border: 1px solid hsl(243, 100%, 62%);
}
.planCards{
    
    margin-top: 20%;
    display: flex;
    justify-content: space-between;
}

.selectPlanButtons{
    
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.selectPlanNextStepButton{
    border-radius: 10px;
    background-color: hsl(243, 100%, 62%);
    color: white;
    font-size: 16px;
    width: 35%;
    height: 35px;
    font-family: 'ubuntuBold'
}
.selectPlanGoBackStep{
    width: 25%;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: hsl(231, 11%, 63%);
    font-family: 'ubuntuMedium';
    background-color: transparent;
}
.selectPlanGoBackStep:hover{
    border-radius: 10px;
    background-color: hsl(243, 100%, 62%);
    color: white;
    font-family: 'ubuntuMedium';
}
.selectPlanCardSelected{
    border: 1px solid hsl(243, 100%, 62%);
    width: 25%;
    padding: 2.5%;
    border-radius: 15px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.selectPlanYrlyMonthly{
    display: flex;
    margin-top: 10%;
    justify-content: center;
}

.selectPlanDuration {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
 
  .selectPlanDuration input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
 
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .selectPlanMonthsFree{
    font-family: 'ubuntuBold';
    font-size: 12px;
    color: hsl(213, 96%, 18%);
  }