.personalInfoLabel{
    font-size: 16px;
    color: hsl(213, 96%, 18%);
    padding-left: 5%;
}
.yourInfo{
    padding: 2%;
}
.yourInfoTitle{
    padding-bottom: 2%;
}
.yourInfoSubTitle{
    color: hsl(231, 11%, 63%);
    padding-bottom: 10%;
}
.yourInfoInputs{
    margin: 2%;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    padding: 2%;
    padding-left: 4%;
    border: 1px solid hsl(229, 24%, 87%);
}
.yourInfoInputs:focus{
    border: 1px solid hsl(243, 100%, 62%);
}
.nextStepButton{
    margin-left: 70%;
    justify-content: end;
    margin-top: 5%;
    width: 35%;
    height: 35px;
    border-radius: 10px;
    background-color: hsl(243, 100%, 62%);
    color: white;
    font-size: 16px;
}
.personalInfoEmailError{
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color: hsl(354, 84%, 57%);
}
#yourInfoInputsError{
    border: 1px solid hsl(354, 84%, 57%) ;
  }